<div class="landing d-flex justify-content-center align-items-center">
    <div class="text-center text-light" >
        <h1>Taste the Creativity</h1>
        <p class="fs-6 text-white-50 mb-5">We make aswsome graphic and web design</p>
        <a class="main-btn">Get Started</a>
    </div>
</div>

<div class="features text-center pb-5 pt-5" >
    <div class="container">
        <div class="main-title mt-5 mb-5 position-relative">
            <img class="mb-4" src="~/assets/title.png" alt="not found" />
            <h1>We are Good at</h1>
            <p class="text-black-50">SOME OF THEASE STUFF UNDER</p>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="feat">
                    <div class="icon-holder position-relative">
                        <i class="fa-solid fa-1 position-absolute bottom-0 number"></i>
                        <i class="fa-solid fa-pencil fa-4x position-absolute bottom-0 icon"></i>
                    </div>
                    <h4 class="mb-3 mt-3 text-uppercase">Graphic Design</h4>
                    <p class="text-black-50 lh-lg">
                        Pellentesque in ipsum id orci porta dapibus. Vivamus magna justo, lacinia eget consectetur sed,
                        convallis at tellus.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="feat">
                    <div class="icon-holder position-relative">
                        <i class="fa-solid fa-2 position-absolute bottom-0 number"></i>
                        <i class="fa-solid fa-tv fa-4x position-absolute bottom-0 icon"></i>
                    </div>
                    <h4 class="mb-3 mt-3 text-uppercase">Graphic Design</h4>
                    <p class="text-black-50 lh-lg">
                        Pellentesque in ipsum id orci porta dapibus. Vivamus magna justo, lacinia eget consectetur sed,
                        convallis at tellus.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="feat">
                    <div class="icon-holder position-relative">
                        <i class="fa-solid fa-3 position-absolute bottom-0 number"></i>
                        <i class="fa-solid fa-plug fa-4x position-absolute bottom-0 icon"></i>
                    </div>
                    <h4 class="mb-3 mt-3 text-uppercase">Graphic Design</h4>
                    <p class="text-black-50 lh-lg">
                        Pellentesque in ipsum id orci porta dapibus. Vivamus magna justo, lacinia eget consectetur sed,
                        convallis at tellus.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="subscribe pt-5 pb-5 text-center text-md-start">
    <div class="container">
        <form class="row align-items-center">
            <div class="col-md-6 col-lg-3">
                <div class="fw-bold fs-5 mb-3">Subscribe with us:</div>
            </div>
            <div class="col-md-6 col-lg-7 mb-3">
                <input class="w-100 text-light p-2 bg-transparent" type="text" placeholder="Enter Email Address" />
            </div>
            <div class="col-md-6 col-lg-2">
                <input class="btn rounded-pill" type="submit" value="Subscribe" />
            </div>
        </form>
    </div>
</div>