:root {
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
}

.main-btn {
    background-color: var(--red-color);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

.mainBtn {
    background-color: var(--red-color);
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    border: none;
}

.mainBtn:hover, .main-btn:hover {
    background-color: #dc3545;
    color: white;
}

.main-title::after {
    content: '';
    width: 120px;
    height: 2px;
    background-color: var(--green-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%)
}

body {
    font-family: 'Roboto', sans-serif;
}

/*Start Nav*/

.navbar {
    background: var(--dark-color);
}

.navbar .navbar-nav .nav-link {
    color: white;
}

.navbar .navbar-nav .nav-item {
    cursor: pointer;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: var(--green-color);
}

.navbar .search {
    border-left: 1px solid var(--green-color);
}

.navbar .search svg {
    color: var(--green-color);
}

.navbar .navbar-toggler {
    color: white;
    font-size: 25px;
    border-color: white;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--green-color)
}
/*End Nav*/

/*Start Landing*/
.landing {
    background: var(--dark-color);
    min-height: calc(100vh - 72px);
}
/*End Landing*/

/*Start Features*/
.features .icon-holder {
    height: 200px;
}

.features .icon-holder svg {
    left: 50%;
    transform: translateX(-50%);
}

.features .icon-holder .number {
    font-size: 12rem;
    color: var(--section-color);
}

.features .icon-holder .icon {
    color: var(--green-color);
}

.features .feat h4 {
    color: var(--yellow-color);
}
/*End Features*/

/* Start Stuff */
.stuff {
    background-color: var(--section-color);
}

.stuff .description {
    max-width: 500px;
}
/* End Stuff */

/* Start Subscribe */
.subscribe {
    background-color: var(--yellow-color);
}

.subscribe input[type="text"] {
    border: none;
    border-bottom: 1px solid white;
}

.subscribe input[type="text"]:focus {
    outline: none;
}

.subscribe ::placeholder {
    color: white;
}

.subscribe input[type="submit"] {
    background-color: var(--dark-color);
    color: var(--yellow-color);
}
/* End Subscribe */

/* Start Footer */
.footer {
    background-color: var(--dark-color);
}

.footer .copyright > span {
    color: var(--green-color);
}

.footer .copyright div span {
    color: var(--yellow-color);
}

footer .links ul li {
    cursor: pointer;
}

.footer .contact ul svg {
    width: 20px;
    height: 20px;
}

.footer .facebook {
    background-color: #1877f2;
}

.footer .twitter {
    background-color: #1da1f2;
}

.footer .linkedin {
    background-color: #0077b5;
}

.footer .youtube {
    background-color: #ff0000;
}
/* End Footer */


/*Start Register*/
.profile-image-pic {
    height: 200px;
    width: 200px;
    object-fit: cover;
    
}

.imgCon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -130px;
}

.cardbody-color {
    background-color: #ebf2fa;
}

.row {
    margin-bottom: 20px;
}

.form-wrap {
    width: 100%;
    max-width: 850px;
    padding: 120px 50px 50px;
    margin: 150px auto 30px;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #ebf2fa;
}

.form-group {
    margin-bottom: 12px;
}

.form-group > label {
    display: block;
    font-size: 18px;
    color: #212529;
    padding-bottom: 3px;
}

.custom-control-label {
    color: #212529;
    font-size: 16px;
}
/*End Register*/


/*Start Profile*/
.profile-container {
    margin: 35px 0;
    border-radius: none;
    

}

.profile-container .btn-update {
    color: white;
    background-color: var(--red-color)
}

.profile-container .btn-update:hover {
    color: white;
    background-color: #dc3545;
}

.profile-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    justify-items: center;
    color: white;
}

.profile-header svg {
    color: var(--green-color);
    font-size: 20px;
    position: relative;
    align-items: center;
    display: flex;
}

.account-settings .user-profile {
    margin: 0 0 1rem 0;
    text-align: center;
}

.account-settings .user-profile h5 {
    font-size: 25px;
}

.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}

.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.account-settings .about {
    text-align: center;
}

.account-settings .about h5 {
    margin-bottom: 10px;
    color: #007ae1;
    font-size: 20px;
}

.account-settings .about p {
    font-size: 14px;
}

.card .card-header {
    font-weight: 500;
    background-color: var(--dark-color);
}

.card .card-header h3 {
    color: white;
}

.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}

.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}


.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}

.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}
/*End Profile*/

/*Start ViewPage*/
.avatar.sm {
    width: 2.25rem;
    height: 2.25rem;
    font-size: .818125rem;
}

.table-nowrap .table td, .table-nowrap .table th {
    white-space: nowrap;
}

.table > :not(caption) > * > * {
    padding: 0.75rem 1.25rem;
    border-bottom: 1px solid var(--green-color);
}

.table thead tr {
    background-color: var(--dark-color);
}

.table th {
    font-weight: 600;
    color: white;
    
}


.dropdown-menu .view-btn:hover {
    background-color: #3c8cbb;
    color: white;
    border-radius: 3px;
}

.dropdown-menu .delete-btn:hover {
    background-color: #e7403e;
    color: white;
    border-radius: 3px;
}
/*legend ViewPage*/

/*start toast message [PROFILE]*/
.profile-toast {
    position: absolute;
    display: none;
    top: 100px;
    right: 30px;
    border-radius: 6px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-left: 8px solid #40f467;
    overflow: hidden;
    z-index: 999;
    transform: translateX(calc(100% + 30px));
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.25, 1.35);
}

.profile-toast.active {
    transform: translateX(0);
    display: block;
}

.toast-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.toast-content svg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    background-color: #40f467;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
}

.message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message-text {
    font-size: 20px;
    font-weight: 600;
}

.text-1 {
    color: #333;
}

.text-2 {
    color: #666;
    font-weight: 400;
    font-size: 16px;
}

.toast-close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.toast-close:hover {
    opacity: 1;
}

.profile-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background: #ddd;
}

.profile-progress::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #40f467;
}

.profile-progress.active::before {
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100% {
        right: 100%;
    }
}
/*end toast message [PROFILE]*/


#heading {
    text-transform: uppercase;
    color: #673AB7;
    font-weight: normal;
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    /*stacking fieldsets above each other*/
    position: relative;
}

.form-card {
    text-align: left;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform input, #msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #673AB7;
    outline-width: 0;
}

/*Next Buttons*/
#msform .action-button {
    width: 100px;
    background: #673AB7;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right;
}

#msform .action-button:hover, #msform .action-button:focus {
    background-color: #311B92;
}

/*Previous Buttons*/
#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right;
}

#msform .action-button-previous:hover, 
#msform .action-button-previous:focus {
    background-color: #000000;
}

/*The background card*/
.card {
    z-index: 0;
    border: none;
    position: relative;
}

/*FieldSet headings*/
.fs-title {
    font-size: 25px;
    color: #673AB7;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left;
}

.purple-text {
    color: #673AB7;
    font-weight: normal;
}

/*Step Count*/
.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right;
}

/*Field names*/
.fieldlabels {
    color: gray;
    text-align: left;
}

/*Icon progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    color: #673AB7;
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
}

/*Icons in the ProgressBar*/
#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f13e";
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007";
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f030";
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c";
}

/*Icon ProgressBar before any progress*/
#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

/*ProgressBar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #673AB7;
}

/*Animated Progress Bar*/
.progress {
    height: 20px;
}

.progress-bar {
    background-color: #673AB7;
}

/*Fit image in bootstrap div*/
.fit-image {
    width: 100%;
    object-fit: cover;
}

/*start admin panel*/
.admin-right-nav,
.admin-left-nav {
    background-color: var(--dark-color);
}

.admin-left-nav .brand-text {
    color: white;
}

.admin-left-nav .brand-link {
    border-bottom: 1px solid #ffffff70;
}

.nav-sidebar .nav-item > .nav-link,
.nav-sidebar .nav-item > .nav-link p,
.nav-sidebar .nav-item > .nav-link svg {
    color: white;
}

.nav-sidebar .nav-item > .nav-link:hover {
    background-color: var(--section-color);
    border-radius: 5px;
}

.nav-sidebar .nav-item > .nav-link:hover p,
.nav-sidebar .nav-item > .nav-link:hover svg {
    color: var(--dark-color);
}
.card .card-footer {
    background-color: #33d1cc00;
}

.card-footer a,
.card-footer a:hover {
    color: white;
}

.clearfix .btn {
    background-color: var(--red-color);
    color: white;
}

.clearfix .btn:hover {
    color: white;
    background-color: #e12e49;
}

.card-body .callout {
    background-color: #f4f6f9;
}
/*end admin panel*/

/*start flight booking*/
.section {
    position: relative;
    height: 100vh;
}

.section .section-center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#booking {
    font-family: 'Lato', sans-serif;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-position: center;
    color: #191a1e;
}

.booking-form {
    position: relative;
    background: #fff;
    max-width: 642px;
    width: 100%;
    margin: auto;
    padding: 45px 25px 25px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.booking-form .form-group {
    position: relative;
    margin-bottom: 20px;
}

.booking-form .form-control {
    background-color: #fff;
    height: 65px;
    padding: 0px 15px;
    padding-top: 24px;
    color: #191a1e;
    border: 2px solid #dfe5e9;
    font-size: 16px;
    font-weight: 700;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 4px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.booking-form select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.booking-form select.form-control + .select-arrow {
    position: absolute;
    right: 6px;
    bottom: 6px;
    width: 32px;
    line-height: 32px;
    height: 32px;
    text-align: center;
    pointer-events: none;
    color: #dfe5e9;
    font-size: 14px;
}

.booking-form select.form-control + .select-arrow:after {
    content: '\279C';
    display: block;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.booking-form .form-label {
    position: absolute;
    top: 6px;
    left: 20px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 24px;
    height: 24px;
    font-size: 12px;
    color: #98c9ee;
}

.booking-form .form-checkbox input {
    position: absolute !important;
    margin-left: -9999px !important;
    visibility: hidden !important;
}

.booking-form .form-checkbox label {
    position: relative;
    padding-top: 4px;
    padding-left: 30px;
    font-weight: 700;
    color: #191a1e;
}

.booking-form .form-checkbox label + label {
    margin-left: 15px;
}

.booking-form .form-checkbox input + span {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #dfe5e9;
    border-radius: 50%;
}

.booking-form .form-checkbox input + span:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: #4fa3e3;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.booking-form .form-checkbox input:not(:checked) + span:after {
    opacity: 0;
}

.booking-form .form-checkbox input:checked + span:after {
    opacity: 1;
    width: 10px;
    height: 10px;
}

.booking-form .submit-btn {
    color: #fff;
    background-color: #4fa3e3;
    font-weight: 400;
    height: 65px;
    font-size: 18px;
    border: none;
    width: 100%;
    border-radius: 4px;
    text-transform: uppercase
}

.booking-cta {
    margin-top: 45px;
}

.booking-cta h2 {
    font-size: 45px;
    text-transform: uppercase;
    color: #4fa3e3;
    font-weight: 400;
}

.booking-cta p {
    font-size: 22px;
    color: #191a1e;
}
/*end flight booking*/

/*start ticket show*/

div.container {
    max-width: 1350px;
    margin: 0 auto;
    overflow: hidden
}

.upcomming {
    font-size: 45px;
    text-transform: uppercase;
    border-left: 14px solid rgba(255, 235, 59, 0.78);
    padding-left: 12px;
    margin: 18px 8px;
}

.container .item {
    position: relative;
    padding: 0 20px;
    background: #fff;
    overflow: hidden;
    display: flex;
    margin: 10px;
    float: left;
    width: 48%;
}

.container .item-right, .container .item-left {
    float: left;
    padding: 20px
}

.container .item-right {
    padding: 79px 50px;
    margin-right: 20px;
    width: 25%;
    position: relative;
    height: 286px
}

.container .item-right .up-border, .container .item-right .down-border {
    padding: 14px 15px;
    background-color: #ddd;
    border-radius: 50%;
    position: absolute
}

.container .item-right .up-border {
    top: -8px;
    right: -35px;
}

.container .item-right .down-border {
    bottom: -20px;
    right: -35px;
}

.container .item-right .num {
    font-size: 60px;
    text-align: center;
    color: #111;
    display: flex;
    justify-content: center;
}

.container .item-right .day, .container .item-left .event {
    color: #555;
    font-size: 20px;
    margin-bottom: 9px;
}

.container .item-right .day {
    text-align: center;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.container .item-left {
    width: 71%;
    padding: 34px 0px 19px 46px;
    border-left: 3px dotted #999;
}

.container .item-left .title {
    color: #111;
    font-size: 34px;
    margin-bottom: 12px
}

.container .item-left .sce {
    margin-top: 5px;
    display: block
}

.container .item-left .sce .icon, .container .item-left .sce p,
.container .item-left .loc .icon, .container .item-left .loc p {
    float: left;
    word-spacing: 5px;
    letter-spacing: 1px;
    color: #888;
    margin-bottom: 10px;
}

.container .item-left .sce .icon, .container .item-left .loc .icon {
    margin-right: 10px;
    font-size: 20px;
    color: #666
}

.container .item-left .loc {
    display: block
}

.fix {
    clear: both
}

.container .item .tickets, .booked, .cancel {

    padding: 6px 14px;
    float: right;
    margin-top: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer
}
.container .item .booked {
    background: #3D71E9
}

.linethrough {
    text-decoration: line-through
}

@media only screen and (max-width: 1150px) {
    .container .item {
        width: 100%;
        margin: 10px auto;
    }
}

/*end ticket show*/


    .select-menu .options {
        position: absolute;
        overflow-y: auto;
        max-height: 295px;
        padding: 10px;
        margin-top: 10px;
        border-radius: 8px;
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        animation-name: fadeInDown;
        -webkit-animation-name: fadeInDown;
        animation-duration: 0.35s;
        animation-fill-mode: both;
        -webkit-animation-duration: 0.35s;
        -webkit-animation-fill-mode: both;
    }

        .select-menu .options .option {
            display: flex;
            height: 55px;
            cursor: pointer;
            padding: 0 16px;
            border-radius: 8px;
            align-items: center;
            background: #fff;
        }

            .select-menu .options .option:hover {
                background: #f2f2f2;
            }

            .select-menu .options .option i {
                font-size: 25px;
                margin-right: 12px;
            }

            .select-menu .options .option .option-text {
                font-size: 18px;
                color: #333;
            }

.select-btn i {
    font-size: 25px;
    transition: 0.3s;
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu.active .options {
    display: block;
    opacity: 0;
    z-index: 10;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 30px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    to {
        transform: translate3d(0, 20px, 0);
        opacity: 0;
    }
}