@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model List<WebProject.Models.Domain.ApplicationUser>;

<section class="content mt-4">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>150</h3>

                        <p>New Orders</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        More info <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>53<sup style="font-size: 20px">%</sup></h3>

                        <p>Bounce Rate</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        More info <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>44</h3>

                        <p>User Registrations</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        More info <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>65</h3>

                        <p>Unique Visitors</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        More info <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-md-6">
                <!-- USERS LIST -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa-solid fa-user-clock"></i>
                            Latest Members
                        </h3>

                        <div class="card-tools">
                            <span class="badge badge-danger">4 New Members</span>
                            <button type="button"
                                    class="btn btn-tool"
                                    data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button"
                                    class="btn btn-tool"
                                    data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0" style="background-color: #f4f6f9;">
                        <ul class="users-list clearfix">
                            @foreach (var user in Model)
                            {
                                <li >
                                    <img src="@user.ProfileImg"
                                         alt="User Image" />
                                    <a class="users-list-name" style="text-transform: uppercase">@user.FirstName </a>
                                    <span class="users-list-date">@user.LastName</span>
                                </li>
                            }
                        </ul>
                        <!-- /.users-list -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <button type="button" class="btn float-right">
                            <a asp-controller="Admin" asp-action="ViewUsers">View All Users</a>
                        </button>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!--/.card -->
                <!-- TO DO List -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa-solid fa-plane-circle-check"></i>
                            Existing Planes
                        </h3>

                        <div class="card-tools">
                            <button type="button"
                                    class="btn btn-tool"
                                    data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button"
                                    class="btn btn-tool"
                                    data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <ul class="todo-list" data-widget="todo-list">
                            <li>
                                <!-- checkbox -->
                                <div class="icheck-primary d-inline ml-2">
                                    <input type="checkbox"
                                           value=""
                                           name="todo1"
                                           id="todoCheck1" />
                                    <label for="todoCheck1"></label>
                                </div>
                                <!-- todo text -->
                                <span class="text">Boeing 747</span>
                                <!-- Emphasis label -->
                                <small class="badge badge-danger"><i class="fa-solid fa-location-crosshairs"></i> First Class</small>
                                <small class="badge badge-success"><i class="fa-solid fa-location-crosshairs"></i> Business Class</small>
                                <!-- General tools such as edit or delete-->
                                <div class="tools">
                                    <i class="fas fa-edit"></i>
                                    <i class="fas fa-trash-o"></i>
                                </div>
                            </li>
                            <li>
                                <div class="icheck-primary d-inline ml-2">
                                    <input type="checkbox"
                                           value=""
                                           name="todo2"
                                           id="todoCheck2"
                                            />
                                    <label for="todoCheck2"></label>
                                </div>
                                <span class="text">Airbus A380</span>
                                <small class="badge badge-primary"><i class="fa-solid fa-location-crosshairs"></i> Economy Class</small>
                                <div class="tools">
                                    <i class="fas fa-edit"></i>
                                    <i class="fas fa-trash-o"></i>
                                </div>
                            </li>
                            <li>
                                <div class="icheck-primary d-inline ml-2">
                                    <input type="checkbox"
                                           value=""
                                           name="todo3"
                                           id="todoCheck3" />
                                    <label for="todoCheck3"></label>
                                </div>
                                <span class="text">Embraer E175</span>
                                <small class="badge badge-success"><i class="fa-solid fa-location-crosshairs"></i> Business Class</small>
                                <small class="badge badge-primary"><i class="fa-solid fa-location-crosshairs"></i> Economy Class</small>
                                <small class="badge badge-danger"><i class="fa-solid fa-location-crosshairs"></i> First Class</small>
                                <div class="tools">
                                    <i class="fas fa-edit"></i>
                                    <i class="fas fa-trash-o"></i>
                                </div>
                            </li>
                            <li>
                                <div class="icheck-primary d-inline ml-2">
                                    <input type="checkbox"
                                           value=""
                                           name="todo4"
                                           id="todoCheck4" />
                                    <label for="todoCheck4"></label>
                                </div>
                                <span class="text">Bombardier Q400</span>
                                <small class="badge badge-success"<i class="fa-solid fa-location-crosshairs"></i> Business Class</small>
                                <div class="tools">
                                    <i class="fas fa-edit"></i>
                                    <i class="fas fa-trash-o"></i>
                                </div>
                            </li>
                            <li>
                                <div class="icheck-primary d-inline ml-2">
                                    <input type="checkbox"
                                           value=""
                                           name="todo5"
                                           id="todoCheck5" />
                                    <label for="todoCheck5"></label>
                                </div>
                                <span class="text">AirDelay Predictor X1</span>
                                <small class="badge badge-success"<i class="fa-solid fa-location-crosshairs"></i> Business Class</small>
                                <small class="badge badge-primary"><i class="fa-solid fa-location-crosshairs"></i> Economy Class</small>
                                <div class="tools">
                                    <i class="fas fa-edit"></i>
                                    <i class="fas fa-trash-o"></i>
                                </div>
                            </li>
                            <li>
                                <div class="icheck-primary d-inline ml-2">
                                    <input type="checkbox"
                                           value=""
                                           name="todo6"
                                           id="todoCheck6" />
                                    <label for="todoCheck6"></label>
                                </div>
                                <span class="text">Celestial Voyager 2000</span>
                                <small class="badge badge-danger"><i class="fa-solid fa-location-crosshairs"></i> First Class</small>
                                <small class="badge badge-success"<i class="fa-solid fa-location-crosshairs"></i> Business Class</small>
                                <div class="tools">
                                    <i class="fas fa-edit"></i>
                                    <i class="fas fa-trash-o"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <button type="button" class="btn float-right">
                            <i class="fas fa-plus"></i> 
                            <a asp-controller="Plane" asp-action="Create">
                                Add New Plane
                            </a>
                        </button>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-6">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-bullhorn"></i>
                            Callouts
                        </h3>
                        <div class="card-tools">
                            <span class="badge badge-info right">3 New Messages</span>
                            <button type="button"
                                    class="btn btn-tool"
                                    data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button"
                                    class="btn btn-tool"
                                    data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="callout callout-danger">
                            <h5>Immediate Attention Required!</h5>

                            <p>
                                This is an urgent notification regarding a critical issue in the plane system. 
                                Our monitoring systems have detected a potential safety threat that requires immediate attention.
                            </p>
                        </div>
                        <div class="callout callout-info">
                            <h5>Information for Admin!</h5>

                            <p>We would like to inform you about the latest system update that 
                                has been implemented in the plane system.
                            </p>
                        </div>
                        <div class="callout callout-warning">
                            <h5>Caution Advised!</h5>

                            <p>
                                This is a warning advisory to bring to your attention a potential issue in the plane system. 
                                While the situation is not critical, caution is advised.
                            </p>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
        
        
    </div>
    <!-- /.container-fluid -->
</section>